.presentacion{
    color: rgb(0, 0, 0);
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    padding: 30px 60px;
    border-radius: 30px;
    .desc{
        margin-top: 2px;
        padding-bottom: 150px;
    }
}
.contactmenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.669);
    height: 700px;
    font-family: 'Roboto', sans-serif;
}
.contacto{
    background-image: url("../img/Agentes-min.png");
}
.presentacion form label{
    padding: 5px;
}
.presentacion form input{
    margin:5px;
    padding:5px;
}
textarea{
    width: 260px;
    height: 200px;
}
select{
    margin-bottom: 10px;
}