@import "_variables.scss";
@import "_nav.scss";
@import "_contacto.scss";
@import "_fondo.scss";
@import "_formulario.scss";
@import "_tarjetas_menu.scss";
@import "_tarjetaShop.scss";
@import "_video.scss";
@import "_footer.scss";
@import "_mediaTablet.scss";
@import "_mediaDesktop.scss";
@import "_personajes.scss";
@import "_mediapersonajes.scss";